{% extends "base.html" %}

{% block title %}Tasebuds Rate!{% endblock %}

{% block page_content %}

	<h1>{{ food['name_en'] }} - {{ food['name_cn'] }}</h1>
	<img src="{{ food['image_url'] }}" style="width: 80%">
	<h2>From: {{ food['region']}}, {{ food['country']}}</h2>

	<div class="table-responsive">
		<table class="table table-striped table sm">
			<thead>
				<tr>
					<th><strong>Ingredients</strong></th>
				</tr>
			</thead>

			{% for ingredient in food['ingredients'] %}
				<tr>
					<td>{{ingredient}}</td>

				</tr>
			{% endfor %}
		</table>
	</div>

	<div class="table-responsive">
		<table class="table table-striped table sm">
			<thead>
				<tr>
					<th><strong>Flavours</strong></th>
				</tr>
			</thead>

			{% for flavour in food['flavours'] %}
				<tr>
					<td>{{flavour}}</td>

				</tr>
			{% endfor %}
		</table>
	</div>

	<p>Could add links to ingredients</p>
	<p>Image url is {{ food['image_url'] }}</p>
{% endblock %}